In [12]:
import pandas as pd
import string as stri

In [13]:
df = pd.read_csv("Dados_desperdicio.csv",delimiter =';')

In [14]:
df.head(210)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2511,Wheat and products,1998,1998,1000 tonnes,561,S,Standardized data
1,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2511,Wheat and products,1999,1999,1000 tonnes,538,S,Standardized data
2,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2511,Wheat and products,2000,2000,1000 tonnes,537,S,Standardized data
3,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2511,Wheat and products,2001,2001,1000 tonnes,521,S,Standardized data
4,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2511,Wheat and products,2002,2002,1000 tonnes,482,S,Standardized data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2518,Sorghum and products,2011,2011,1000 tonnes,89,S,Standardized data
206,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2518,Sorghum and products,2012,2012,1000 tonnes,85,S,Standardized data
207,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2518,Sorghum and products,2013,2013,1000 tonnes,73,S,Standardized data
208,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2520,"Cereals, Other",1998,1998,1000 tonnes,1,S,Standardized data
209,FBSH,Food Balances (old methodology and population),9,Argentina,5123,Losses,2520,"Cereals, Other",1999,1999,1000 tonnes,1,S,Standardized data

In [8]:
data=[cadu for cadu in range(1998,2019)]
ide=0
for cadu in range(21):
    ide+=1
    data[cadu]=(ide,data[cadu])

In [100]:
data_id_dict={}
for cadu in range(len(data)):
    data_id_dict[data[cadu][1]]=data[cadu][0]

In [15]:
Categorias ={1: 'Frutas', 2: 'Verduras e Legumes', 3: 'Carnes',4: 'Cereais e Grãos'}
#Categorias = [(1, 'Frutas'), (2, 'Verduras e Legumes'), (3, 'Carnes') ,(4, 'Cereais e Grãos')]

In [90]:
Alimentos='Trigo e produtos; Arroz e produtos; Cevada e produtos; Milho e produtos; Centeio e produtos; Aveia; Sorgo e produtos; Feijão; Ervilhas; Nozes e produtos; Grãos de Soja; Amendoim (Eq sem casca); Café e produtos; Grãos de cacau e produtos; Cereais e outros; Mandioca e produtos; Batatas e produtos; Batatas doces; Inhame; Tomates e produtos; Legumes e outros; Laranjas e Tangerinas; Limões, limas e produtos; Toranja e produtos; Citrus e outros; Bananas; Banana da Terra; Maçãs e produtos; Abacaxi e produtos; Uvas e produtos (excluindo vinho); Frutas e outros; Carne bovina; Carne de carneiro e cabra; Carne de Porco; Carne de Aves; Carne e outros'
alimentos=Alimentos.split("; ")
alimentos_aux=Alimentos.split("; ")
alimentos_dict1=Alimentos.split("; ")

In [91]:
ide=0
for cadu in range(15):
    id+=1
    alimentos[cadu]=(ide,alimentos[cadu],4)
for cadu in range(15,21):
    id+=1
    alimentos[cadu]=(ide,alimentos[cadu],2)
for cadu in range(21,31):
    id+=1
    alimentos[cadu]=(ide,alimentos[cadu],1)
for cadu in range(31,len(alimentos)):
    id+=1
    alimentos[cadu]=(ide,alimentos[cadu],3)

In [92]:
Item=alimentos

In [18]:
Paises=('Argentina, Bolívia, Brasil, Chile, Colômbia, Costa Rica, Cuba, República Dominicana, Equador, El salvador, Guatemala, Haiti, Honduras, México, Nicarágua, Panamá, Paraguai, Peru, Uruguai, Venezuela')
paises=Paises.split(", ")

In [48]:
paises_id=[]
for cadu in range(len(paises)):
    paises_id.append((cadu+1,paises[cadu]))

In [85]:
paises_id_dict={}
for cadu in range(len(paises_id)):
    paises_id_dict[paises_id[cadu][1]]=paises_id[cadu][0]

In [95]:
dicionario_alimentos_id={}
ide=0
for cadu in range(len(alimentos_aux)):
    id+=1
    dicionario_alimentos_id[alimentos_aux[cadu]]=ide

In [27]:
item_ingles= [df['Item'][cadu] for cadu in range(len(df['Item']))]

In [50]:
item_ingles1=[]
for cadu in item_ingles: 
    if not cadu in item_ingles1:
        item_ingles1.append(cadu)

In [134]:
DicionarioI= {'Wheat and products':'Trigo e produtos',
'Rice and products':'Arroz e produtos',
 'Barley and products': 'Cevada e produtos',
 'Maize and products': 'Milho e produtos',
 'Rye and products': 'Centeio e produtos',
 'Oats': 'Aveia',
 'Sorghum and products': 'Sorgo e produtos',
 'Cereals, Other':'Cereais e outros',
 'Cassava and products':'Mandioca e produtos',
 'Potatoes and products':'Batatas e produtos',
 'Sweet potatoes': 'Batatas doces',
 'Beans': 'Feijão',
 'Peas':'Ervilhas',
 'Nuts and products': 'Nozes e produtos',
 'Soyabeans': 'Grãos de Soja',
 'Groundnuts (Shelled Eq)': 'Amendoim (Eq sem casca)',
 'Tomatoes and products':'Tomates e produtos',
 'Vegetables, Other':'Vegetais, Outros',
 'Oranges, Mandarines':'Laranjas, Mandarinas',
 'Lemons, Limes and products':'Limões, Limas e produtos',
 'Grapefruit and products':'Toranja e produtos',
 'Bananas': 'Bananas',
 'Plantains': 'Banana da terra',
 'Apples and products':'Maças e produtos',
 'Pineapples and products':'Abacaxis e produtos',
 'Grapes and products (excl wine)': 'Uvas e produtos (excluindo vinho)',
 'Fruits, Other':'Frutas e outros',
 'Coffee and products': 'Café e produtos',
 'Cocoa Beans and products': 'Grãos de cacau e produtos',
 'Bovine Meat':'Carne bovina',
 'Mutton & Goat Meat':'Carne de carneiro e cabra',
 'Pigmeat':'Carne de porco',
 'Poultry Meat':'Carne de frango',
 'Meat, Other':'Carne e outros',
 'Citrus, Other': 'Citrus e outros',
 'Yams':'Inhame'}

In [71]:
DicionarioP = {'Argentina':'Argentina','Bolivia':'Bolívia','Brazil':'Brasil','Chile':'Chile','Colombia':'Colômbia','Costa Rica':'Costa Rica','Cuba':'Cuba','Dominican Republic':'República Dominicana','Ecuador':'Equador','El salvador':'El salvador','Guatemala':'Guatemala','Haiti':'Haiti','Honduras':'Honduras','Mexico':'México','Nicaragua':'Nicarágua','Panama':'Panamá','Paraguay':'Paraguai','Peru':'Peru','Uruguay':'Uruguai','Venezuela':'Venezuela'}

In [96]:
ide=0
item_pais=[]
for cadu in range(5):
    ide+=1
    item_pais.append((ide, dicionario_alimentos_id[DicionarioI[df.Item[cadu]]],paises_id_dict[DicionarioP[df.Area[cadu]]]))

In [97]:
item_pais

[(1, 0, 1), (2, 0, 1), (3, 0, 1), (4, 0, 1), (5, 0, 1)]

In [78]:
with open('your_file.txt', 'w') as f:
    for item in my_list:
        f.write("%s\n" % item)

NameError: name 'my_list' is not defined

In [118]:
data_perda=[]
ide=0
for cadu in range(len(df)):
    if df['Element'][cadu] == 'Losses':
        ide+=1
        data_perda.append((ide, data_id_dict[df['Year Code'][cadu]] ))

In [129]:
Item

[(1, 'Trigo e produtos', 4),
 (2, 'Arroz e produtos', 4),
 (3, 'Cevada e produtos', 4),
 (4, 'Milho e produtos', 4),
 (5, 'Centeio e produtos', 4),
 (6, 'Aveia', 4),
 (7, 'Sorgo e produtos', 4),
 (8, 'Feijão', 4),
 (9, 'Ervilhas', 4),
 (10, 'Nozes e produtos', 4),
 (11, 'Grãos de Soja', 4),
 (12, 'Amendoim (Eq sem casca)', 4),
 (13, 'Café e produtos', 4),
 (14, 'Grãos de cacau e produtos', 4),
 (15, 'Cereais e outros', 4),
 (16, 'Mandioca e produtos', 2),
 (17, 'Batatas e produtos', 2),
 (18, 'Batatas doces', 2),
 (19, 'Inhame', 2),
 (20, 'Tomates e produtos', 2),
 (21, 'Legumes e outros', 2),
 (22, 'Laranjas e Tangerinas', 1),
 (23, 'Limões, limas e produtos', 1),
 (24, 'Toranja e produtos', 1),
 (25, 'Citrus e outros', 1),
 (26, 'Bananas', 1),
 (27, 'Banana da Terra', 1),
 (28, 'Maçãs e produtos', 1),
 (29, 'Abacaxi e produtos', 1),
 (30, 'Uvas e produtos (excluindo vinho)', 1),
 (31, 'Frutas e outros', 1),
 (32, 'Carne bovina', 3),
 (33, 'Carne de carneiro e cabra', 3),
 (34, 'Carne de Porco', 3),
 (35, 'Carne de Aves', 3),
 (36, 'Carne e outros', 3)]

In [133]:
len(Dicionario)

36