## Importando as tabelas de dados para dataframe

In [5]:
import pandas as pd

In [18]:
df_names = ['df_categoria', 'df_item','df_pais','df_regiao','df_perda','df_producao','df_item_pais']

In [29]:
df_filenames = ['df_categoria.pkl', 'df_item.pkl','df_pais.pkl','df_regiao.pkl',
                'df_perda.pkl','df_producao.pkl','df_item_pais.pkl']

In [27]:
id = 0
for df in df_filenames:
   vars()[df_names[id]] = pd.read_pickle(df)
   id += 1

In [34]:
df_item.head(5)

   id                nome  categoria_id1
0   1    Trigo e produtos              4
1   2    Arroz e produtos              4
2   3   Cevada e produtos              4
3   4    Milho e produtos              4
4   5  Centeio e produtos              4

## Selecionando uma amostra do total de dados

Aqui estamos limitando os dados que serão utilizados na criação do grafo, uma vez que no total o dataframe de produção possui mais de 20 mil linhas. Um números muito grande de elementos num mesmo grafo dificulta a visualização das informações que queremos mostrar. Assim, optou-se pelo construção do grafo com dados limitados a um mesmo ano (justificar a escolha do grupo de dados que se quer trabalhar)

## Criando os grafos