In [2]:
import pandas as pd
import string as stri

In [118]:
df = pd.read_csv("Dados_desperdicio_produção.csv",delimiter =';')

In [119]:
df.head(10)

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,1998,1998,1000 tonnes,12601,S,Standardized data
1,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,1999,1999,1000 tonnes,15479,S,Standardized data
2,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,2000,2000,1000 tonnes,16147,S,Standardized data
3,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,2001,2001,1000 tonnes,15428,S,Standardized data
4,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,2002,2002,1000 tonnes,12399,S,Standardized data
5,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,2003,2003,1000 tonnes,14710,S,Standardized data
6,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,2004,2004,1000 tonnes,16139,S,Standardized data
7,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,2005,2005,1000 tonnes,12722,S,Standardized data
8,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,2006,2006,1000 tonnes,14663,S,Standardized data
9,FBSH,Food Balances (old methodology and population),9,Argentina,5511,Production,2511,Wheat and products,2007,2007,1000 tonnes,16487,S,Standardized data

In [8]:
data=[cadu for cadu in range(1998,2018)]
ide=0
for cadu in range(20):
    ide+=1
    data[cadu]=(ide,data[cadu])

In [9]:
data_id_dict={}
for cadu in range(len(data)):
    data_id_dict[data[cadu][1]]=data[cadu][0]

In [6]:
Categorias ={1: 'Frutas', 2: 'Verduras e Legumes', 3: 'Carnes',4: 'Cereais e Grãos'}
#Categorias = [(1, 'Frutas'), (2, 'Verduras e Legumes'), (3, 'Carnes') ,(4, 'Cereais e Grãos')]

In [18]:
Alimentos='Trigo e produtos; Arroz e produtos; Cevada e produtos; Milho e produtos; Centeio e produtos; Aveia; Sorgo e produtos; Feijão; Ervilhas; Nozes e produtos; Grãos de Soja; Amendoim (Eq sem casca); Café e produtos; Grãos de cacau e produtos; Cereais e outros; Mandioca e produtos; Batatas e produtos; Batatas doces; Inhame; Tomates e produtos; Vegetais, Outros; Laranjas e Tangerinas; Limões, limas e produtos; Toranja e produtos; Citrus e outros; Bananas; Banana da Terra; Maçãs e produtos; Abacaxis e produtos; Uvas e produtos (excluindo vinho); Frutas e outros; Carne bovina; Carne de carneiro e cabra; Carne de Porco; Carne de Aves; Carne e outros'
alimentos=Alimentos.split("; ")
alimentos_aux=Alimentos.split("; ")
alimentos_dict1=Alimentos.split("; ")

In [182]:
ide=0
for cadu in range(15):
    id+=1
    alimentos[cadu]=(ide,alimentos[cadu],4)
for cadu in range(15,21):
    id+=1
    alimentos[cadu]=(ide,alimentos[cadu],2)
for cadu in range(21,31):
    id+=1
    alimentos[cadu]=(ide,alimentos[cadu],1)
for cadu in range(31,len(alimentos)):
    id+=1
    alimentos[cadu]=(ide,alimentos[cadu],3)

In [183]:
Item=alimentos

In [53]:
Paises=('Argentina, Bolívia, Brasil, Chile, Colômbia, Costa Rica, Cuba, República Dominicana, Equador, El Salvador, Guatemala, Haiti, Honduras, México, Nicarágua, Panamá, Paraguai, Peru, Uruguai, Venezuela')
paises=Paises.split(", ")

In [54]:
paises_id=[]
for cadu in range(len(paises)):
    paises_id.append((cadu+1,paises[cadu]))

In [55]:
paises_id_dict={}
for cadu in range(len(paises_id)):
    paises_id_dict[paises_id[cadu][1]]=paises_id[cadu][0]

In [19]:
dicionario_alimentos_id={}
ide=0
for cadu in range(len(alimentos_aux)):
    ide+=1
    dicionario_alimentos_id[alimentos_aux[cadu]]=ide

In [210]:
item_ingles= [df['Item'][cadu] for cadu in range(len(df['Item']))]

In [211]:
item_ingles1=[]
for cadu in item_ingles: 
    if not cadu in item_ingles1:
        item_ingles1.append(cadu)

In [24]:
DicionarioI= {'Wheat and products':'Trigo e produtos',
'Rice and products':'Arroz e produtos',
 'Barley and products': 'Cevada e produtos',
 'Maize and products': 'Milho e produtos',
 'Rye and products': 'Centeio e produtos',
 'Oats': 'Aveia',
 'Sorghum and products': 'Sorgo e produtos',
 'Cereals, Other':'Cereais e outros',
 'Cassava and products':'Mandioca e produtos',
 'Potatoes and products':'Batatas e produtos',
 'Sweet potatoes': 'Batatas doces',
 'Beans': 'Feijão',
 'Peas':'Ervilhas',
 'Nuts and products': 'Nozes e produtos',
 'Soyabeans': 'Grãos de Soja',
 'Groundnuts (Shelled Eq)': 'Amendoim (Eq sem casca)',
 'Tomatoes and products':'Tomates e produtos',
 'Vegetables, Other':'Vegetais, Outros',
 'Oranges, Mandarines':'Laranjas e Tangerinas',
 'Lemons, Limes and products':'Limões, limas e produtos',
 'Grapefruit and products':'Toranja e produtos',
 'Bananas': 'Bananas',
 'Plantains': 'Banana da Terra',
 'Apples and products':'Maçãs e produtos',
 'Pineapples and products':'Abacaxis e produtos',
 'Grapes and products (excl wine)': 'Uvas e produtos (excluindo vinho)',
 'Fruits, Other':'Frutas e outros',
 'Coffee and products': 'Café e produtos',
 'Cocoa Beans and products': 'Grãos de cacau e produtos',
 'Bovine Meat':'Carne bovina',
 'Mutton & Goat Meat':'Carne de carneiro e cabra',
 'Pigmeat':'Carne de Porco',
 'Poultry Meat':'Carne de Aves',
 'Meat, Other':'Carne e outros',
 'Citrus, Other': 'Citrus e outros',
 'Yams':'Inhame'}

In [57]:
DicionarioP = {'Argentina':'Argentina','Bolivia (Plurinational State of)':'Bolívia','Brazil':'Brasil','Chile':'Chile','Colombia':'Colômbia','Costa Rica':'Costa Rica','Cuba':'Cuba','Dominican Republic':'República Dominicana','Ecuador':'Equador','El Salvador':'El Salvador','Guatemala':'Guatemala','Haiti':'Haiti','Honduras':'Honduras','Mexico':'México','Nicaragua':'Nicarágua','Panama':'Panamá','Paraguay':'Paraguai','Peru':'Peru','Uruguay':'Uruguai','Venezuela (Bolivarian Republic of)':'Venezuela'}

In [223]:
ide=0
item_pais=[]
for cadu in range(len(df)):
    ide+=1
    item_pais.append((ide, dicionario_alimentos_id[DicionarioI[df.Item[cadu]]],paises_id_dict[DicionarioP[df.Area[cadu]]]))

In [226]:
with open('your_file.txt', 'w') as f:
    for item in item_pais:
        f.write("%s\n" % item)

TypeError: not all arguments converted during string formatting

In [118]:
data_perda=[]
ide=0
for cadu in range(len(df)):
    if df['Element'][cadu] == 'Losses':
        ide+=1
        data_perda.append((ide, data_id_dict[df['Year Code'][cadu]] ))

In [129]:
Item

[(1, 'Trigo e produtos', 4),
 (2, 'Arroz e produtos', 4),
 (3, 'Cevada e produtos', 4),
 (4, 'Milho e produtos', 4),
 (5, 'Centeio e produtos', 4),
 (6, 'Aveia', 4),
 (7, 'Sorgo e produtos', 4),
 (8, 'Feijão', 4),
 (9, 'Ervilhas', 4),
 (10, 'Nozes e produtos', 4),
 (11, 'Grãos de Soja', 4),
 (12, 'Amendoim (Eq sem casca)', 4),
 (13, 'Café e produtos', 4),
 (14, 'Grãos de cacau e produtos', 4),
 (15, 'Cereais e outros', 4),
 (16, 'Mandioca e produtos', 2),
 (17, 'Batatas e produtos', 2),
 (18, 'Batatas doces', 2),
 (19, 'Inhame', 2),
 (20, 'Tomates e produtos', 2),
 (21, 'Legumes e outros', 2),
 (22, 'Laranjas e Tangerinas', 1),
 (23, 'Limões, limas e produtos', 1),
 (24, 'Toranja e produtos', 1),
 (25, 'Citrus e outros', 1),
 (26, 'Bananas', 1),
 (27, 'Banana da Terra', 1),
 (28, 'Maçãs e produtos', 1),
 (29, 'Abacaxi e produtos', 1),
 (30, 'Uvas e produtos (excluindo vinho)', 1),
 (31, 'Frutas e outros', 1),
 (32, 'Carne bovina', 3),
 (33, 'Carne de carneiro e cabra', 3),
 (34, 'Carne de Porco', 3),
 (35, 'Carne de Aves', 3),
 (36, 'Carne e outros', 3)]

In [133]:
len(Dicionario)

36

In [139]:
len(df)

21214

In [158]:
Alimentos

'Trigo e produtos; Arroz e produtos; Cevada e produtos; Milho e produtos; Centeio e produtos; Aveia; Sorgo e produtos; Feijão; Ervilhas; Nozes e produtos; Grãos de Soja; Amendoim (Eq sem casca); Café e produtos; Grãos de cacau e produtos; Cereais e outros; Mandioca e produtos; Batatas e produtos; Batatas doces; Inhame; Tomates e produtos; Legumes e outros; Laranjas e Tangerinas; Limões, limas e produtos; Toranja e produtos; Citrus e outros; Bananas; Banana da Terra; Maçãs e produtos; Abacaxi e produtos; Uvas e produtos (excluindo vinho); Frutas e outros; Carne bovina; Carne de carneiro e cabra; Carne de Porco; Carne de Aves; Carne e outros'

In [161]:

for cadu in range(36):
    if alimentos_aux[cadu] =='Vegetais, Outros':
        print (alimentos_aux[cadu])

In [162]:
alimentos_aux

['Trigo e produtos',
 'Arroz e produtos',
 'Cevada e produtos',
 'Milho e produtos',
 'Centeio e produtos',
 'Aveia',
 'Sorgo e produtos',
 'Feijão',
 'Ervilhas',
 'Nozes e produtos',
 'Grãos de Soja',
 'Amendoim (Eq sem casca)',
 'Café e produtos',
 'Grãos de cacau e produtos',
 'Cereais e outros',
 'Mandioca e produtos',
 'Batatas e produtos',
 'Batatas doces',
 'Inhame',
 'Tomates e produtos',
 'Legumes e outros',
 'Laranjas e Tangerinas',
 'Limões, limas e produtos',
 'Toranja e produtos',
 'Citrus e outros',
 'Bananas',
 'Banana da Terra',
 'Maçãs e produtos',
 'Abacaxi e produtos',
 'Uvas e produtos (excluindo vinho)',
 'Frutas e outros',
 'Carne bovina',
 'Carne de carneiro e cabra',
 'Carne de Porco',
 'Carne de Aves',
 'Carne e outros']

In [20]:
dicionario_alimentos_id

{'Trigo e produtos': 1,
 'Arroz e produtos': 2,
 'Cevada e produtos': 3,
 'Milho e produtos': 4,
 'Centeio e produtos': 5,
 'Aveia': 6,
 'Sorgo e produtos': 7,
 'Feijão': 8,
 'Ervilhas': 9,
 'Nozes e produtos': 10,
 'Grãos de Soja': 11,
 'Amendoim (Eq sem casca)': 12,
 'Café e produtos': 13,
 'Grãos de cacau e produtos': 14,
 'Cereais e outros': 15,
 'Mandioca e produtos': 16,
 'Batatas e produtos': 17,
 'Batatas doces': 18,
 'Inhame': 19,
 'Tomates e produtos': 20,
 'Vegetais, Outros': 21,
 'Laranjas e Tangerinas': 22,
 'Limões, limas e produtos': 23,
 'Toranja e produtos': 24,
 'Citrus e outros': 25,
 'Bananas': 26,
 'Banana da Terra': 27,
 'Maçãs e produtos': 28,
 'Abacaxis e produtos': 29,
 'Uvas e produtos (excluindo vinho)': 30,
 'Frutas e outros': 31,
 'Carne bovina': 32,
 'Carne de carneiro e cabra': 33,
 'Carne de Porco': 34,
 'Carne de Aves': 35,
 'Carne e outros': 36}

In [143]:
#Produz a tabela de produção com as entradas id, peso, item_id, pais_id, ano_id
producao = []
ide=0
for i in range(len(df)):
    if df['Element'][i] == 'Production':
        ide+=1
        #Convertendo o tipo de dado, o mysql não funciona com numpy.int64
        peso = df['Value'][i]
        ano = df['Year Code'][i]

        pypeso = peso.item()
        pyano = ano.item()
        
        producao.append((ide, pypeso, dicionario_alimentos_id[DicionarioI[df['Item'][i]]], paises_id_dict[DicionarioP[df['Area'][i]]], pyano))

In [153]:
#Produz a tabela de perda com as entradas id, peso, item_id, pais_id, ano_id
perda = []
ide = 0
for i in range(len(df)):
    if df['Element'][i] == 'Losses':
        ide+=1
        peso = df['Value'][i]
        ano = df['Year Code'][i]

        pypeso = peso.item()
        pyano = ano.item()
        
        perda.append((ide, pypeso, dicionario_alimentos_id[DicionarioI[df['Item'][i]]], paises_id_dict[DicionarioP[df['Area'][i]]], pyano))

In [156]:
#Passar os dados de perda e producao pra um arquivo texto
for i in range(10):
    print(perda[i])

(1, 561, 1, 1, 1998)
(2, 538, 1, 1, 1999)
(3, 537, 1, 1, 2000)
(4, 521, 1, 1, 2001)
(5, 482, 1, 1, 2002)
(6, 503, 1, 1, 2003)
(7, 533, 1, 1, 2004)
(8, 521, 1, 1, 2005)
(9, 514, 1, 1, 2006)
(10, 591, 1, 1, 2007)

## Adicionando os dados de perda e produção a Base de dados no mysql

In [85]:
import os
import sys
import time
import datetime
import pathlib
import getpass
import pandas as pd

import pymysql

In [86]:
p = getpass.getpass()
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd = p) #passwd=password, db='mysql')
cur = conn.cursor()

········

In [87]:
cur.execute("show databases;")
for r in cur.fetchall():
   print(r)

('information_schema',)
('mysql',)
('performance_schema',)
('producao_desperdicio_comida',)
('sys',)

In [88]:
cur.execute("use producao_desperdicio_comida;")
cur.execute("show tables;")
for r in cur.fetchall():
   print(r)

('categoria',)
('item',)
('item_pais',)
('pais',)
('perda',)
('producao',)
('regiao',)

In [144]:
insertProducaoSQL = "INSERT INTO producao (id, peso, item_id1, pais_id_pais, ano) VALUES (%s, %s, %s, %s, %s)"
cur = conn.cursor()
cur.executemany(insertProducaoSQL, producao)

conn.commit()

In [157]:
insertPerdaSQL = "INSERT INTO perda (id_, peso, item_id1, pais_id_pais, ano) VALUES (%s, %s, %s, %s, %s)"
cur = conn.cursor()
cur.executemany(insertPerdaSQL, perda)

conn.commit()