In [1]:
import os
import sys
import time
import datetime
#import numpy as np
import pathlib
import getpass
import pandas as pd

import pymysql

In [2]:
p = getpass.getpass()
conn = pymysql.connect(host='localhost', port=3306, user='admin', passwd = p) #passwd=password, db='mysql')
cur = conn.cursor()

········

In [3]:
cur.execute("show databases;")
for r in cur.fetchall():
   print(r)

('information_schema',)
('mysql',)
('performance_schema',)
('producao_desperdicio_comida',)

In [4]:
cur.execute("use producao_desperdicio_comida;")
cur.execute("show tables;")
for r in cur.fetchall():
   print(r)

('ano_perda',)
('ano_producao',)
('categoria',)
('item',)
('item_pais',)
('pais',)
('perda',)
('producao',)
('regiao',)

In [5]:
categorias = [('Frutas'),
('Verduras e Legumes'),
('Carnes'),
('Cereais e Grãos')]

In [6]:
insertCategoriasSQL = "INSERT INTO categoria (nome) VALUES (%s)"
cur = conn.cursor()
cur.executemany(insertCategoriasSQL, categorias)

conn.commit()

In [7]:
cur.execute("SELECT * FROM categoria;")
for r in cur.fetchall():
   print(r)

(1, 'Frutas')
(2, 'Verduras e Legumes')
(3, 'Carnes')
(4, 'Cereais e Grãos')

In [8]:
cur.execute("SHOW COLUMNS FROM item;")
for r in cur.fetchall():
   print(r)

('id', 'int(11)', 'NO', 'PRI', None, '')
('nome', 'varchar(100)', 'NO', '', None, '')
('categoria_id1', 'int(11)', 'NO', 'PRI', None, '')

In [1]:
#df = pd.read_csv('Dados_desperdicio.csv', sep='|')

In [9]:
itens = [(1, 'Trigo e produtos', 4),
 (2, 'Arroz e produtos', 4),
 (3, 'Cevada e produtos', 4),
 (4, 'Milho e produtos', 4),
 (5, 'Centeio e produtos', 4),
 (6, 'Aveia', 4),
 (7, 'Sorgo e produtos', 4),
 (8, 'Feijão', 4),
 (9, 'Ervilhas', 4),
 (10, 'Nozes e produtos', 4),
 (11, 'Grãos de Soja', 4),
 (12, 'Amendoim (Eq sem casca)', 4),
 (13, 'Café e produtos', 4),
 (14, 'Grãos de cacau e produtos', 4),
 (15, 'Cereais e outros', 4),
 (16, 'Mandioca e produtos', 2),
 (17, 'Batatas e produtos', 2),
 (18, 'Batatas doces', 2),
 (19, 'Inhame', 2),
 (20, 'Tomates e produtos', 2),
 (21, 'Legumes e outros', 2),
 (22, 'Laranjas e Tangerinas', 1),
 (23, 'Limões, limas e produtos', 1),
 (24, 'Toranja e produtos', 1),
 (25, 'Citrus e outros', 1),
 (26, 'Bananas', 1),
 (27, 'Banana da Terra', 1),
 (28, 'Maçãs e produtos', 1),
 (29, 'Abacaxi e produtos', 1),
 (30, 'Uvas e produtos (excluindo vinho)', 1),
 (31, 'Frutas e outros', 1),
 (32, 'Carne bovina', 3),
 (33, 'Carne de carneiro e cabra', 3),
 (34, 'Carne de Porco', 3),
 (35, 'Carne de Aves', 3),
 (36, 'Carne e outros', 3)]

In [11]:
insertItemSQL = "INSERT INTO item (id, nome, categoria_id1) VALUES (%s, %s, %s)"
cur = conn.cursor()
cur.executemany(insertItemSQL, itens)

conn.commit()

In [12]:
cur.execute("SELECT * FROM item;")
for r in cur.fetchall():
   print(r)

(1, 'Trigo e produtos', 4)
(2, 'Arroz e produtos', 4)
(3, 'Cevada e produtos', 4)
(4, 'Milho e produtos', 4)
(5, 'Centeio e produtos', 4)
(6, 'Aveia', 4)
(7, 'Sorgo e produtos', 4)
(8, 'Feijão', 4)
(9, 'Ervilhas', 4)
(10, 'Nozes e produtos', 4)
(11, 'Grãos de Soja', 4)
(12, 'Amendoim (Eq sem casca)', 4)
(13, 'Café e produtos', 4)
(14, 'Grãos de cacau e produtos', 4)
(15, 'Cereais e outros', 4)
(16, 'Mandioca e produtos', 2)
(17, 'Batatas e produtos', 2)
(18, 'Batatas doces', 2)
(19, 'Inhame', 2)
(20, 'Tomates e produtos', 2)
(21, 'Legumes e outros', 2)
(22, 'Laranjas e Tangerinas', 1)
(23, 'Limões, limas e produtos', 1)
(24, 'Toranja e produtos', 1)
(25, 'Citrus e outros', 1)
(26, 'Bananas', 1)
(27, 'Banana da Terra', 1)
(28, 'Maçãs e produtos', 1)
(29, 'Abacaxi e produtos', 1)
(30, 'Uvas e produtos (excluindo vinho)', 1)
(31, 'Frutas e outros', 1)
(32, 'Carne bovina', 3)
(33, 'Carne de carneiro e cabra', 3)
(34, 'Carne de Porco', 3)
(35, 'Carne de Aves', 3)
(36, 'Carne e outros', 3)

In [13]:
regiao = [(1, 'América do Sul'), (2, 'América Central'), (3, 'América do Norte')]
insertRegiaoSQL = "INSERT INTO regiao (id, nome) VALUES (%s, %s)"
cur = conn.cursor()
cur.executemany(insertRegiaoSQL, regiao)

conn.commit()

In [15]:
anos = [(1, 1998),
 (2, 1999),
 (3, 2000),
 (4, 2001),
 (5, 2002),
 (6, 2003),
 (7, 2004),
 (8, 2005),
 (9, 2006),
 (10, 2007),
 (11, 2008),
 (12, 2009),
 (13, 2010),
 (14, 2011),
 (15, 2012),
 (16, 2013),
 (17, 2014),
 (18, 2015),
 (19, 2016),
 (20, 2017)]

In [16]:
insertAnosSQL = "INSERT INTO ano_perda (id, ano) VALUES (%s, %s)"
cur = conn.cursor()
cur.executemany(insertAnosSQL, anos)

conn.commit()

In [17]:
insertAnosProducaoSQL = "INSERT INTO ano_producao (id, ano) VALUES (%s, %s)"
cur = conn.cursor()
cur.executemany(insertAnosProducaoSQL, anos)

conn.commit()

In [18]:
paises = [(1, 'Argentina', 1),
 (2, 'Bolívia', 1),
 (3, 'Brasil', 1),
 (4, 'Chile', 1),
 (5, 'Colômbia', 1),
 (6, 'Costa Rica', 2),
 (7, 'Cuba', 2),
 (8, 'República Dominicana', 2),
 (9, 'Equador', 1),
 (10, 'El salvador', 2),
 (11, 'Guatemala', 2),
 (12, 'Haiti', 2),
 (13, 'Honduras', 2),
 (14, 'México', 3),
 (15, 'Nicarágua', 2 ),
 (16, 'Panamá', 2),
 (17, 'Paraguai', 1),
 (18, 'Peru', 1),
 (19, 'Uruguai', 1),
 (20, 'Venezuela', 1)]

In [20]:
insertPaisesSQL = "INSERT INTO pais (id_pais, nome, regiao_id1) VALUES (%s, %s, %s)"
cur = conn.cursor()
cur.executemany(insertPaisesSQL, paises)

conn.commit()